*,
html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* SEARCHBAR COMPONENT */
.searchbar {
	width: 100%;
	height: 60px;
	position: fixed;
	color: white;
	top: 0;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
	background-color: rgb(0, 0, 0);
	margin-bottom: 70px;
	z-index: 10;
}
.searchbar > div {
	width: 30%;
	text-align: start;
	padding-left: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchinput {
	outline: none;
	width: 50%;
	display: flex;
	height: 40px;
	border-radius: 10px;
	border: black solid 2px;
	padding: 5px;
	font-size: large;
	text-align: center;
	background-color: rgb(53, 53, 53);
	color: white;
}
.user {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.content {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	color: white;
	min-height: 100vh;
	overflow: hidden;
	background: linear-gradient(rgb(43, 62, 87), black);
}
.main {
	width: 75%;
	padding-left: 2%;
}
.side {
	width: 25%;
}

/* MOVIE COMPONENT */
.movie {
	width: 300px;
	margin: 20px;
}
.poster {
	max-width: 300px;
	position: relative;
}
.poster > img {
	width: 300px;
	height: 444px;
}

.poster:hover {
	opacity: 0.7;
}

.poster:hover button {
	visibility: visible;
}
.poster > button:disabled {
	visibility: hidden;
}

.year {
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 1;
	background-color: black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0 5px;
	opacity: 0.7;
}
.poster > button {
	position: absolute;
	left: 40%;
	bottom: 10px;
	visibility: hidden;
	padding: 5px;
	border-radius: 3px;
	border: none;
	outline: none;
	z-index: 1;
}
.poster > button:active {
	background-color: blue;
	color: white;
}

.movie > h3 {
	text-align: center;
}

/* NOMINATIONS COMPONENT */
.nominations {
	position: fixed;
	width: 20%;
	top: 13%;
	height: 50%;
	display: flex;
	flex-direction: column;
	background-color: rgb(3, 2, 56);
	padding: 10px;
	border-radius: 10px;
	justify-content: center;
}
.nominations > .list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.nominationtitle {
	font-size: medium;
}

.removebutton {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	cursor: pointer;
}
.removebutton > img {
	width: 15px;
	height: 15px;
	padding: 1;
}
.removebutton:hover {
	background-color: red;
}
.removebutton:active {
	background-color: blue;
}

.nominations > .removeall {
	margin-top: auto;
	display: flex;
	width: 25%;
	align-self: center;
}

.nominations > .removeall:active {
	background-color: red;
	color: white;
}

.buttonholder {
	margin-top: auto;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;

	height: 40px;
	display: flex;
	justify-content: flex-start;
}
.buttonholder > span {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.buttonholder > span:hover {
	color: black;
}
.buttonholder > span:active {
	color: white;
}
.buttonholder > span:first-child {
	border-bottom-left-radius: 10px;
	background-color: rgb(0, 68, 0);
}
.buttonholder > span:nth-child(2) {
	background-color: rgb(80, 28, 128);
}
.buttonholder > span:nth-child(3) {
	background-color: rgb(102, 27, 27);
	border-bottom-right-radius: 10px;
}
